
<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://img.ibxk.com.br/2023/10/11/11012528601520.jpg?ims=704x"
        cardTitle="TESTE DINAMICO"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        photoCover="https://img.ibxk.com.br/2023/10/11/11192520700370.jpg?ims=704x"
        cardTitle="TESTE DINAMICO 1"
        ></app-small-card>
        <app-small-card
        photoCover="https://img.ibxk.com.br/2023/10/13/13165102070146.jpg?ims=704x"
        cardTitle="TESTE DINAMICO 2"
        ></app-small-card>
        <app-small-card
        photoCover="https://img.ibxk.com.br/2023/10/11/11151311806246.jpg?ims=704x"
        cardTitle="TESTE DINAMICO 3"
        ></app-small-card>
    </div>
</div>
